/* DONT REPEAT YOURSELF */

/* CONSTANTES */
.contenedor{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* ************************************* */
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* NAV */

nav{
    background-color: #273b47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav img{
    width: 100px;
    display: block;
    /* margin-left: 20px; */
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav ul li{
    /* ctrl  + } */
    /* margin: 10px; */
    /* margin: 10px 15px; */
    /* margin: 10px 5px 8px 25px; */
    /* border-right: 1px solid white; */
}

nav div{
    border: 1px solid white;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    display: none;
}

.border{
    border-right: 2px solid white;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    /* background-color: peru; */
    display: inline-block;
}

#sesion{
    background-color:#ff4842;
    padding: 3px 15px;
    border-radius: 5px;
    /* margin-right: 20px; */
}

/* PORTADA */
.portada{
    background-color: #eee;
}

.portada div div img{
    display: block;
    width: 100%;
}
/* #prueba{
    background-color: #ff4842;
}
#prueba img{
    width: 100%;
    display: block;
} */
.portada div form{
    text-align: right;
    padding: 10px 0;
}
.portada div form button{
    background-color: black;
    color: white;
    border-radius: 3px;
}
.portadaBox{
    position: relative;
}
.portadaBox-hijo{
    position: absolute;
    background-color: rgba(255,255,255,.8);
    bottom: 20px;
    left: 20px;
    padding: 20px 25px;
}
.portadaBox-hijo h2{
    margin: 0;
}
.portadaBox-hijo div{
    display: flex;
    justify-content: space-between;
}

/* PUBLICACIONES */
.publicaciones{
    /* background-color: peru; */
    padding: 30px 0;
}
.publiContenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.publiContenedor article{
    width: calc(100% / 3 - 40px / 3); /* 33.33333% - 20px */
    margin-bottom: 30px;
}

.publiContenedor article img{
    display: block;
    width: 100%;
}

.publiContenedor article div div{
    display: flex;
    justify-content: space-between;
}

/* FOOTER */
footer{
    text-align: center;
    padding-bottom: 50px;
}
footer span{
    color: #aaa;
    display: inline-block;
    margin-right: 30px;
}
footer a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid #aaa;
    padding: 5px 7px;
    color: #4d4d4d;
    background-color: #f5f5f5;
}
footer a:not(:last-child){
    margin-right: 15px;
}

/* MEDIA QUERIES - BREAKPOINTS */
@media only screen and (max-width: 900px){
    .portadaBox-hijo{
        left: 0;
        bottom: 0;
        right: 0;
    }
    .publiContenedor article{
        width: calc(50% - 10px);
    }
}

@media only screen and (max-width: 780px){
    .portadaBox-hijo{
        position: unset;
    }
}