body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav{
    background-color: #273b47;
    display: flex;
    justify-content: space-between;
}

nav img{
    width: 100px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: flex; */
}
nav ul li a{
    /* color: rgb(255,255,255); */
    /* color: #ffffff; */
    color: white;
    text-decoration: none;
}